[paths]
source =
    src
    */site-packages

[run]
# Directories to include in coverage analysis
source = src/pandora2d

# Files and directories to omit from coverage analysis
omit = */build/*,tests/*
